body {
  font-family: 'Kumbh Sans', sans-serif !important;
  color: hsl(237, 12%, 33%) !important;
  font-weight: 400;
}

h1 {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.background-gradient {
  background: linear-gradient(to top, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-size: 12px;
}

.container {
  margin-top: 10%;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 50px 50px 10px 50px;
  box-shadow: 0 40px 50px -30px hsl(237, 12%, 33%);
}

#accordion {
  background-color: #f1f1f1;
  padding-right: 100px;
}

.collapsible {
  background-color: #f1f1f1;
  color: hsl(238, 29%, 16%);
  cursor: pointer;
  padding: 18px 0px;
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  border-bottom: 2px solid hsl(240, 5%, 91%);
}

.collapsible:hover {
  color: hsl(14, 88%, 65%);
}

.collapsible:focus {
  outline: none;
}

.collapsible.active {
  font-weight: 700;
  border-bottom: 0px;
}

.collapsible-arrow {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.active .collapsible-arrow {
  transform: rotate(180deg);
}

.content {
  padding: 0 20px 20px;
  background-color: #f1f1f1;
  border-bottom: 2px solid hsl(240, 5%, 91%);
}

.illustration {
  z-index: 1;
  object-fit: contain;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: 150%;
  background-position: right center;
  transform: scale(1.2);
  overflow: hidden;
  background-clip: border-box;
  background-origin: border-box;
}

.box-illustration {
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 0%;
}

.attribution {
  margin-top: 50px;
  position: relative;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}